<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Instituto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="../../css/style.css">



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<div class="container my-2">
		<div th:replace="fragments/header :: header"></div>
		<div class="container my-5">
			<div class="row">
				<div class="col-6">
					<h4>Inscripciones</h4>

					<hr>


					<table class="table table-striped">
						<thead>
							<tr>
								<th>Materia</th>
								<th>Hora</th>
								<th>Alumno</th>
								<th>Profesor</th>
								<th></th>

							</tr>
						</thead>
						<tbody>

							<tr th:each="sItem , stat	: ${enrollments}">
								<td th:id="'name' + ${stat.index} " th:text="${sItem.subject.name}"></td>
								<td th:id="'time' + ${stat.index} " th:text="${sItem.subject.time}"></td>
								<td th:id="'active' + ${stat.index} "
									th:text="${sItem.student.name + ' ' + sItem.student.lastName}"></td>
								<td th:id="'teacher' + ${stat.index} "
									th:text="${sItem.subject.teacher.name + ' ' + sItem.subject.teacher.lastName}"></td>
								<td><a th:if="${!admin}" th:href="@{/enrollment/delete(id=${sItem.id})}">borrar</a></td>

							</tr>
						</tbody>
					</table>



				</div>
			</div>
		</div>
	</div>
</body>


<script>
	function edit(index) {
		document.getElementById("id").value = document.getElementById("id"
				+ index).value
		document.getElementById("name").value = document.getElementById("name"
				+ index).innerHTML
		document.getElementById("lastName").value = document
				.getElementById("lastName" + index).innerHTML
		let pos = parseInt(document.getElementById("active" + index).value)
		document.getElementById('active').getElementsByTagName('option')[pos - 1].selected = 'selected'
		$("#nuevaEntidadModal").modal('show');

	}
</script>
</html>


<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript"> -->

