<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Instituto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../../css/style.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<div class="container ">
		<div th:replace="fragments/header :: header"></div>
				<div class="w-50">
					<h4>Materias</h4>

					<hr>

					<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
						th:if="${admin}" data-target="#nuevaEntidadModal">Nuevo</button>

					<div class="col-6">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Horario</th>
									<th>Profesor</th>
									<th>Máx. alumnos</th>
									<th>Estado</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>

								<tr th:each="subjectItem, stat: ${subjects}">
									<td th:id="'name' + ${stat.index} " th:text="${subjectItem.name}"></td>
									<td th:id="'time' + ${stat.index} " th:text="${subjectItem.time}"></td>
									<td th:text="${subjectItem.teacher.name}"></td>
									<input type="hidden" th:id="'id' + ${stat.index}" th:value="${subjectItem.id}" />
									<input type="hidden" th:id="'teacher' + ${stat.index}"
										th:value="${subjectItem.teacher.id}" />
									<td th:id="'max' + ${stat.index} " th:text="${subjectItem.max}"></td>
									<td th:if="${subjectItem.active == 1}" th:text="${'Activo'}"></td>
									<td th:if="${subjectItem.active != 1}" th:text="${'Inactivo'}"></td>
									<input type="hidden" th:id="'active' + ${stat.index}"
										th:value="${subjectItem.active}" />
									<td><a th:if="${!admin}" th:href="@{/subject/enroll(id=${subjectItem.id})}">
											Inscribirse</a></td>
									<td>
										<button th:if="${admin}" type="button" class="btn btn-info btn-sm"
											th:onclick="'edit(\'' + ${stat.index} +  '\');'">Editar</button>
										<button th:if="${!admin}" type="button" class="btn btn-info btn-sm"
											th:onclick="'edit(\'' + ${stat.index} +  '\');'">Ver</button>
									</td>
									<td><a th:if="${admin}" th:href="@{/subject/delete(id=${subjectItem.id})}">borrar</a></td>
								</tr>

							</tbody>
						</table>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="nuevaEntidadModal" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Formulario materia</h4>
								</div>
								<div class="modal-body">


									<form th:action="@{/subject}" th:object="${subjectForm}" method="post" id="form"
										role="form">
										<br> <input type="hidden" id="id" th:field="*{id}">
										<div class="form-group">
											<label id="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
												class="validation-message"></label> <input type="text" class="form-control"
												id="name" name="inputName" maxlength="50" th:field="*{name}"
												th:readonly="${!admin}" placeholder="Nombre" />
										</div>


										<div class="form-group">
											<input id="time" maxlength="5" type="text" th:field="*{time}"
												th:readonly="${!admin}" placeholder="hh:mm" class="form-control" /> <label
												th:if="${#fields.hasErrors('time')}" th:errors="*{time}"
												class="validation-message"></label>
										</div>
										<div class="form-group">
											<select th:disabled="${!admin}" id="teacherId" th:field="*{teacherId}"
												class="form-control" th:readonly="${!admin}">
												<option th:each="itemTeacher : ${teachersList}" th:value="${itemTeacher.id}"
													th:text="${itemTeacher.name + ' ' + itemTeacher.lastName}" />
											</select> <label th:if="${#fields.hasErrors('teacherId')}" th:errors="*{teacherId}"
												class="validation-message"></label>
										</div>
										<div class="form-group">
											<input type="number" maxlength="3" th:field="*{max}"
												placeholder="Cantidad maxima alumnos" th:readonly="${!admin}"
												class="form-control" /> <label th:if="${#fields.hasErrors('max')}"
												th:errors="*{max}" class="validation-message"></label>
										</div>

										<div class="form-group">
											<select id="active" th:field="*{active}" class="form-control"
												th:disabled="${!admin}" th:readonly="${!admin}">
												<option th:value="1" th:text="Activo" />
												<option th:value="2" th:text="Inactivo" />
											</select>
										</div>
										<div class="form-group" th:if="${admin}">
											<button type="submit" class="btn btn-primary btn-block" 
											>Guardar</button>
<!-- 											th:onclick="submitForm(event)">Guardar</button> -->

										</div>

										<span th:text="${message}"></span>
									</form>
								</div>
							</div>
						</div>
					</div>
			</div>
	</div>
</body>


<script>
	function submitForm(e) {
		debugger
		e.preventDefault();
		
		var data={
				name: $('#name').val(),
				time: $('#time').val(),
				 max: $('#max').val(),
				 active: $('#active').val()
				}
		const form = document.getElementById("form");
		const value = jQuery("#form").val();
		$.post({
	        url: form.action,
	        data: data,
	        success: function (result) {
// 				form.reset();
	            $("#nuevaEntidadModal").replaceWith(result);
	        },
	        error: function (result) {
	            $("#nuevaEntidadModal").replaceWith(result);
	        }
		})
		
		
	}


	function edit(index) {
		document.getElementById("id").value = document.getElementById("id"+ index).value
		document.getElementById("name").value = document.getElementById("name"+ index).innerHTML
		document.getElementById("time").value = document.getElementById("time"
				+ index).innerHTML
		document.getElementById("max").value = document.getElementById("max"
				+ index).innerHTML
		let pos = parseInt(document.getElementById("active" + index).value)
		document.getElementById('active').getElementsByTagName('option')[pos - 1].selected = 'selected'
		let posTeacher = document.getElementById("teacher" + index).value
		document.getElementById('teacherId').getElementsByTagName('option').value = [ posTeacher ]
		$("#nuevaEntidadModal").modal('show');

	}
</script>
</html>


<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript"> -->

