<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Instituto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<body>
	<div class="container my-2">
		<div th:replace="fragments/header :: header"></div>
		<div class="container my-5">
			<div class="col-6">
				<h4>Usuarios</h4>

				<hr>
				<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}"
					method="post" class="form-horizontal" role="form">
					<br>
					<div class="form-group">
						<label th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"
							class="validation-message"></label> <input type="text" th:field="*{dni}"
							maxlength="10" placeholder="DNI" class="form-control" />
					</div>

					<div class="form-group">
						<label th:if="${#fields.hasErrors('number')}" th:errors="*{number}"
							class="validation-message"></label> <input type="text" th:field="*{number}"
							maxlength="10" placeholder="Legajo" class="form-control" />
					</div>
					<div class="form-group">
						<label th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}"
							class="validation-message"></label> <input type="checkbox" id="admin" name="admin"
							th:field="*{admin}" th:text=" Administrador" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Guardar</button>


					</div>

					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
	</div>

</body>
</html>